@import url("https://rsms.me/inter/inter.css");

* {
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  color: #212121;
  background: #fff;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-weight: 900;
  text-align: center;
}

p {
  text-align: center;
}

mark {
  background: #fab700;
  color: #212121;
  font-weight: bold;
  padding: 0 0.2em;
}

.card {
  background: #fff;
  padding: 20px;
  margin-top: 10px;
  border-radius: 4px;
  border: 3px solid #212121;
  width: 40%;
  margin-left: 28.5%;
}

@media screen and (max-width: 800px) {
  .card {
    width: 78%;
    margin-left: 5%;
  }
}

.input {
  position: relative;
  box-sizing: border-box;
}

input {
  width: 100%;
  height: 40px;
}

button {
  padding: 7px;
  margin-top: 10px;
  background: #fab700;
  border: none;
  border-radius: 4px;
  font-weight: 900;
}
